In [36]:
import pandas as pd
import numpy as np

In [39]:
historical = pd.read_csv(
    "./data/historical_data/historical.csv",
    encoding="cp949",
    header=0,
    usecols=[2, 3, 4, 6, 8],
    names=["day", "avg_temp", "min_temp", "max_temp", "rain"],
)
historical

           day  avg_temp  min_temp  max_temp   rain
0   2024-07-01      26.3      22.0      31.3    NaN
1   2024-07-02      23.2      21.9      25.2   65.1
2   2024-07-03      24.7      23.6      25.9    0.8
3   2024-07-04      26.8      23.2      30.6    3.6
4   2024-07-05      23.4      21.3      26.1    4.1
5   2024-07-06      25.1      22.1      30.0    2.8
6   2024-07-07      24.4      21.5      28.2   28.7
7   2024-07-08      23.8      23.1      24.5   21.1
8   2024-07-09      24.5      22.7      26.7    0.3
9   2024-07-10      26.6      22.7      31.1    1.4
10  2024-07-11      25.7      23.3      28.9    NaN
11  2024-07-12      25.6      21.8      30.2    NaN
12  2024-07-13      28.1      23.5      33.3    0.0
13  2024-07-14      28.4      24.9      32.1    0.4
14  2024-07-15      28.4      24.5      31.3    0.0
15  2024-07-16      27.0      24.6      30.7   17.0
16  2024-07-17      25.4      24.1      28.1   98.8
17  2024-07-18      24.3      23.1      25.6  128.8
18  2024-07-19      27.0      24.2      30.8    0.1
19  2024-07-20      27.2      25.1      30.6   14.9
20  2024-07-21      26.5      22.5      29.8    8.5
21  2024-07-22      26.6      24.3      27.9   79.9
22  2024-07-23      26.4      25.8      27.3    2.0
23  2024-07-24      28.1      26.0      30.9   14.7
24  2024-07-25      28.8      25.4      32.2   25.3
25  2024-07-26      28.7      25.2      32.7    5.5
26  2024-07-27      28.9      27.5      31.7   33.5
27  2024-07-28      29.2      27.3      32.2    0.0
28  2024-07-29      27.4      26.8      27.8    0.0
29  2024-07-30      28.6      26.3      31.9    NaN
30  2024-07-31      29.4      27.0      33.3    NaN

In [40]:
historical["rain"] = historical["rain"].astype(bool)
historical.loc[historical["rain"] > 0, "rain"] = True
historical.loc[historical["rain"] <= 0, "rain"] = False
historical["rain"] = historical["rain"].fillna(False)
historical["day"] = pd.to_datetime(historical["day"])
historical.set_index("day", inplace=True)
historical

            avg_temp  min_temp  max_temp   rain
day
2024-07-01      26.3      22.0      31.3   True
2024-07-02      23.2      21.9      25.2   True
2024-07-03      24.7      23.6      25.9   True
2024-07-04      26.8      23.2      30.6   True
2024-07-05      23.4      21.3      26.1   True
2024-07-06      25.1      22.1      30.0   True
2024-07-07      24.4      21.5      28.2   True
2024-07-08      23.8      23.1      24.5   True
2024-07-09      24.5      22.7      26.7   True
2024-07-10      26.6      22.7      31.1   True
2024-07-11      25.7      23.3      28.9   True
2024-07-12      25.6      21.8      30.2   True
2024-07-13      28.1      23.5      33.3  False
2024-07-14      28.4      24.9      32.1   True
2024-07-15      28.4      24.5      31.3  False
2024-07-16      27.0      24.6      30.7   True
2024-07-17      25.4      24.1      28.1   True
2024-07-18      24.3      23.1      25.6   True
2024-07-19      27.0      24.2      30.8   True
2024-07-20      27.2      25.1      30.6   True
2024-07-21      26.5      22.5      29.8   True
2024-07-22      26.6      24.3      27.9   True
2024-07-23      26.4      25.8      27.3   True
2024-07-24      28.1      26.0      30.9   True
2024-07-25      28.8      25.4      32.2   True
2024-07-26      28.7      25.2      32.7   True
2024-07-27      28.9      27.5      31.7   True
2024-07-28      29.2      27.3      32.2  False
2024-07-29      27.4      26.8      27.8  False
2024-07-30      28.6      26.3      31.9   True
2024-07-31      29.4      27.0      33.3   True

In [41]:
historical.to_csv("historical_avg_min_max_rain.csv")