In [10]:
자치구 = ["강남구", "강동구", "강북구", "강서구"]
대여소명 = [
    "2301. 현대고등학교 건너편",
    "1002. 해공공원(천호동)",
    "1512. 강북중학교 앞",
    "1106. 신방화사거리",
]
대여건수 = [2170, 3085, 2468, 4883]
반납건수 = [2183, 3111, 2489, 5307]

열정보 = ["자치구", "대여소명", "대여건수", "반납건수"]
이용정보 = [
    ["강남구", "2301. 현대고등학교 건너편", 2170, 2183],
    ["강동구", "1002. 해공공원(천호동)", 3085, 3111],
    ["강북구", "1512. 강북중학교 앞", 2468, 2489],
    ["강서구", "1106. 신방화사거리", 4883, 5307],
]

In [11]:
import pandas as pd

In [13]:
data = pd.DataFrame(
    {"자치구": 자치구, "대여소명": 대여소명, "대여건수": 대여건수, "반납건수": 반납건수}
)
data

   자치구              대여소명  대여건수  반납건수
0  강남구  2301. 현대고등학교 건너편  2170  2183
1  강동구   1002. 해공공원(천호동)  3085  3111
2  강북구     1512. 강북중학교 앞  2468  2489
3  강서구      1106. 신방화사거리  4883  5307