# 과제

In [12]:
import pandas as pd

## 1번

In [13]:
stdData = [
    ["이름", "나이", "주소"],
    ["Kim", 20, "서울시"],
    ["Lee", 25, "경기도"],
    ["Park", 22, "제주도"],
    ["Choi", 19, "강원도"],
]
df1 = pd.DataFrame(stdData)
print(df1)

      0   1    2
0    이름  나이   주소
1   Kim  20  서울시
2   Lee  25  경기도
3  Park  22  제주도
4  Choi  19  강원도

## 2번

In [14]:
df2 = pd.read_csv("./exam1.txt")
print(df2)

   name   score   absent
0   kim      95         3
1  choi     100         0
2   lee      90         2
3  park      85         1
4   cho      77         5

## 3번

In [16]:
df3 = pd.read_csv("./exam2.txt", delimiter="\t")
print(df3)

   name  score  absent
0   kim     95        3
1  choi    100        0
2   lee     90        2
3  park     85        1
4   cho     77        5

## 4번

In [ ]:
df4 = pd.read_csv("week3_hw_textfiles/exam3.csv", encoding="EUC-KR")
print(df4)

## 5번

In [ ]:
df5 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df5)

# 6번

In [32]:
df6 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")

In [ ]:
print(df6.head(10))

In [ ]:
print(df6.tail(10))

## 7번

In [ ]:
df7 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df7.info())

## 8번

In [ ]:
df8 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df8.describe())

## 9번

In [ ]:
df9 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df9[["연도", "출생아수"]][59:68])

## 10번

In [25]:
df10 = pd.read_excel("../week5/연도별출생인구.xlsx")
print(df10.query("연도>=2010"))

      연도    출생아수  천명당출생률
59  2010  470171     9.4
60  2011  471265     9.4
61  2012  484550     9.6
62  2013  436455     8.6
63  2014  435435     8.6
64  2015  438420     8.6
65  2016  406243     7.9
66  2017  357771     7.0
67  2018  326900     6.4

In [27]:
df11 = df10.query("연도>=2010")
dropF = df11.reset_index(drop=False)
dropT = df11.reset_index(drop=True)
print(df11.head())
print(dropF.head())
print(dropT.head())

      연도    출생아수  천명당출생률
59  2010  470171     9.4
60  2011  471265     9.4
61  2012  484550     9.6
62  2013  436455     8.6
63  2014  435435     8.6
   index    연도    출생아수  천명당출생률
0     59  2010  470171     9.4
1     60  2011  471265     9.4
2     61  2012  484550     9.6
3     62  2013  436455     8.6
4     63  2014  435435     8.6
     연도    출생아수  천명당출생률
0  2010  470171     9.4
1  2011  471265     9.4
2  2012  484550     9.6
3  2013  436455     8.6
4  2014  435435     8.6