# 과제

In [26]:
import pandas as pd

## 1번

In [27]:
stdData = [
    ["이름", "나이", "주소"],
    ["Kim", 20, "서울시"],
    ["Lee", 25, "경기도"],
    ["Park", 22, "제주도"],
    ["Choi", 19, "강원도"]
]
df1 = pd.DataFrame(stdData)
print(df1)

      0   1    2
0    이름  나이   주소
1   Kim  20  서울시
2   Lee  25  경기도
3  Park  22  제주도
4  Choi  19  강원도

## 2번

In [28]:
df2 = pd.read_csv("week3_hw_textfiles/exam1.txt")
print(df2)

   name   score   absent
0   kim      95         3
1  choi     100         0
2   lee      90         2
3  park      85         1
4   cho      77         5

## 3번

In [29]:
df3 = pd.read_csv("week3_hw_textfiles/exam2.txt", delimiter="\t")
print(df3)

   name  score  absent
0   kim     95        3
1  choi    100        0
2   lee     90        2
3  park     85        1
4   cho     77        5

## 4번

In [30]:
df4 = pd.read_csv("week3_hw_textfiles/exam3.csv", encoding="EUC-KR")
print(df4)

     연도     출생아수     사망자수
0  2011  471,265  257,396
1  2012  484,550  267,221
2  2013  436,455  266,257
3  2014  435,435  267,692
4  2015  438,420  275,895
5  2016  406,243  280,827
6  2017  357,771  285,534
7  2018  326,900  298,820

## 5번

In [31]:
df5 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df5)

      연도    출생아수  천명당출생률
0   1951  728175    37.7
1   1952  775630    39.6
2   1953  830330    41.6
3   1954  892236    43.4
4   1955  961055    45.4
..   ...     ...     ...
63  2014  435435     8.6
64  2015  438420     8.6
65  2016  406243     7.9
66  2017  357771     7.0
67  2018  326900     6.4

[68 rows x 3 columns]

# 6번

In [32]:
df6 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")

In [33]:
print(df6.head(10))

     연도     출생아수  천명당출생률
0  1951   728175    37.7
1  1952   775630    39.6
2  1953   830330    41.6
3  1954   892236    43.4
4  1955   961055    45.4
5  1956   999005    45.2
6  1957  1016573    44.8
7  1958  1046011    44.5
8  1959  1074876    44.2
9  1960  1099294    44.0

In [34]:
print(df6.tail(10))

      연도    출생아수  천명당출생률
58  2009  444849     9.0
59  2010  470171     9.4
60  2011  471265     9.4
61  2012  484550     9.6
62  2013  436455     8.6
63  2014  435435     8.6
64  2015  438420     8.6
65  2016  406243     7.9
66  2017  357771     7.0
67  2018  326900     6.4

## 7번

In [35]:
df7 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df7.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      68 non-null     int64
 1   출생아수    68 non-null     int64
 2   천명당출생률  68 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 1.7 KB
None

## 8번

In [36]:
df8 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df8.describe())

               연도          출생아수     천명당출생률
count    68.00000  6.800000e+01  68.000000
mean   1984.50000  7.451443e+05  22.483824
std      19.77372  2.271235e+05  12.619395
min    1951.00000  3.269000e+05   6.400000
25%    1967.75000  5.394685e+05  11.250000
50%    1984.50000  7.246800e+05  16.700000
75%    2001.25000  9.621715e+05  33.225000
max    2018.00000  1.099294e+06  45.400000

## 9번

In [37]:
df9 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df9[["연도", "출생아수"]][59:68])

      연도    출생아수
59  2010  470171
60  2011  471265
61  2012  484550
62  2013  436455
63  2014  435435
64  2015  438420
65  2016  406243
66  2017  357771
67  2018  326900

## 10번

In [38]:
df10 = pd.read_excel("week3_hw_textfiles/data_연도별출생인구.xlsx")
print(df10.query("연도>=2010"))

      연도    출생아수  천명당출생률
59  2010  470171     9.4
60  2011  471265     9.4
61  2012  484550     9.6
62  2013  436455     8.6
63  2014  435435     8.6
64  2015  438420     8.6
65  2016  406243     7.9
66  2017  357771     7.0
67  2018  326900     6.4