# 3-1. Pandas 판다스의 기본

## Series

1차원 배열 형태로써 같은 종류의 데이터가 순서대로 나열된 데이터 구조

### index 자동 부여

In [52]:
import pandas as pd

In [53]:
data = pd.Series([3, 4, 5])

In [54]:
print(data)

0    3
1    4
2    5
dtype: int64

In [55]:
print(data[0])

3

### index 직접 부여

In [56]:
x_data = pd.Series([20, 30, 40], index=["kim", "lee", "park"])

In [57]:
print(x_data)

kim     20
lee     30
park    40
dtype: int64

In [58]:
print(x_data["kim"])

20

## DataFrame

2차원 배열 형태로써 데이터를 표 형식 데이터 (행, 열) 구조로 저장

### 리스트로 DataFrame 생성하기

이차원 배열을 stdData 에 넣었다가 pandas에 넣어주었다

In [59]:
stdData = [
    ["kim", 20, "서울시"],
    ["lee", 25, "경기도" ],
    ["park", 22, "제주도"],
    ["choi", 19, "강원도"]
]

In [60]:
df = pd.DataFrame(stdData)
print(df)

      0   1    2
0   kim  20  서울시
1   lee  25  경기도
2  park  22  제주도
3  choi  19  강원도

#### 컬럼의 이름을 바꿀수 있다

In [61]:
df = pd.DataFrame(stdData, columns=["이름", "나이", "주소"])
print(df)

     이름  나이   주소
0   kim  20  서울시
1   lee  25  경기도
2  park  22  제주도
3  choi  19  강원도

### DatFrame 생성하기

딕셔너리 구조로 입력

In [62]:
이름 = ["kim", "lee", "park", "choi"]
나이 = [20, 25, 22, 19]
주소 = ["서울시", "경기도", "제주도", "강원도"]

In [63]:
df = pd.DataFrame({
    "name": 이름,
    "age": 나이,
    "addr": 주소
})
print(df)

   name  age addr
0   kim   20  서울시
1   lee   25  경기도
2  park   22  제주도
3  choi   19  강원도

# 3-2. 공공데이터 파일을 읽어오자

## CSV와 TXT 파일

CSV: 콤마로 구분된 파일

공공데이터의 경우 CSV로 제공되는 경우가 많다

엑셀과 메모장에서 열 수 있다

### 기본 문법

`pd.read_csv( filename, properties )` 로 사용을 해주자

csv 와 txt 파일을 읽어서 DataFrame 으로 변환하여 저장할 것

파일명: csv 또는 txt 파일 이름으로

`delimiter="구분기호"`: 열을 구분하는 구분기호를 명시하자

`header=[행번호]`: 열이름 (변수이름)으로 설정할 index 번호 기술

`skiprows=[행번호]`: 읽어오지 않을 행번호 지정

`endocind=[인코딩방식]`: 한글이 깨져서 보일 경우 인코딩 방식 설정

`thousands=","`: , 가 포함된 문자열 데티러를 , 를 삭제하고 숫자형 데이터로 변경

## 예시 데이터를 사용해보자

### `exam_.txt` 파일 - 컴마가 구분기호

컴마가 구분기호기 때문에 그대로 불러오기

name, score, absent

kim, 95, 3

choi, 100, 0

lee, 90, 2

park, 85, 1

cho, 77, 5

In [64]:
df = pd.read_csv('week3_textfiles/exam1.txt')
print(df)

   name   score   absent
0   kim      95         3
1  choi     100         0
2   lee      90         2
3  park      85         1
4   cho      77         5

### `exam2.txt` 파일 - tab 이 구분기호

구분기호가 컴마가 아니기에..

tab 인 경우 구분기호 명시가 필요하다

name score absent

kim 95 3

choi 100 0

lee 90 2

park 85 1

cho 77 5

In [65]:
df = pd.read_csv("week3_textfiles/exam2.txt", delimiter="\t")
print(df)

   name  score  absent
0   kim     95        3
1  choi    100        0
2   lee     90        2
3  park     85        1
4   cho     77        5

### `exam.txt` 파일 - 머릿글이 없는 경우

컴마로 구분되어 있으나 `exam1.txt`와는 다르게 머릿글이 없다

`header=행번호` 를 활용하자

`header`가 없는 경우 첫번째 행을 열 이름으로 자동 부여한다

`header=None`으로 첫 행에 열이름이 없음을 표시하자

kim, 95, 3

choi, 100, 0

lee, 90, 2

park, 85, 1

cho, 77, 5

In [66]:
df = pd.read_csv("week3_textfiles/exam.txt")
print(df)

    kim   95   3
0  choi  100    0
1   lee   90    2
2  park   85    1
3   cho   77    5

In [67]:
df = pd.read_csv("week3_textfiles/exam.txt", header=None)
print(df)

      0    1  2
0   kim   95  3
1  choi  100  0
2   lee   90  2
3  park   85  1
4   cho   77  5

In [68]:
df = pd.read_csv("week3_textfiles/exam.txt", header=[1])
print(df)

   choi   100   0
0   lee    90    2
1  park    85    1
2   cho    77    5

In [69]:
df = pd.read_csv("week3_textfiles/exam.txt", header=[0, 1])
print(df)

    kim   95  3
   choi  100  0
0   lee   90   2
1  park   85   1
2   cho   77   5

## `exam.txt` 파일 - `skiprows`란?

`skiprows=[행번호]`를 활용해보자

In [70]:
df = pd.read_csv("week3_textfiles/exam.txt", skiprows=[1, 3])
print(df)

   kim   95   3
0  lee   90    2
1  cho   77    5

## `exam4.csv` 파일 - CSV 파일

CSV 파일은 컴마가 구분기호더라

하지만 그냥 불러오던대로 `df = pd.read_csv("week3_textfiles/exam4.csv")` 이러면 오류가 발생

CSV 파일을 불러올 때 중간에 인코딩 작업이 추가로 필요하다

`encoding="인코딩방식` : EUC-KR(2byte 한글 인코딩), cp949(MS Office), utf-8(유니코드 인코딩)

연도,출생아수,사망자수

2011,"471,265","257,396"

2012,"484,550","267,221"

2013,"436,455","266,257"

2014,"435,435","267,692"

2015,"438,420","275,895"

2016,"406,243","280,827"

2017,"357,771","285,534"

2018,"326,900","298,820"

In [71]:
df = pd.read_csv("week3_textfiles/exam4.csv", encoding="EUC-KR")
print(df)

     연도     출생아수     사망자수
0  2011  471,265  257,396
1  2012  484,550  267,221
2  2013  436,455  266,257
3  2014  435,435  267,692
4  2015  438,420  275,895
5  2016  406,243  280,827
6  2017  357,771  285,534
7  2018  326,900  298,820

## `exam4.csv` - `thousands`?

In [72]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      8 non-null      int64
 1   출생아수    8 non-null      object
 2   사망자수    8 non-null      object
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes
None

`df.info()` 를 해보니..

object 라고 나온다는 건 문자라는 것.. 숫자로 바꾸기 위해서 `thousands`를 활용해보자

In [73]:
df = pd.read_csv("week3_textfiles/exam4.csv", encoding="EUC-KR", thousands=",")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      8 non-null      int64
 1   출생아수    8 non-null      int64
 2   사망자수    8 non-null      int64
dtypes: int64(3)
memory usage: 324.0 bytes
None

# 3-3. 판다스로 엑셀 파일 불러보기

외부 파일을 불러올 때..

txt 파일은 구분기호를 추가해야 하고

csv 파일은 인코딩을 추가로 해줘야 했으나

엑셀파일은 그런게 필요 없다 !

.. `pip install openpyxl` 추가로 필요 .. 왜? 나는 아나콘다 설치했는데

In [74]:
birthData = pd.read_excel("week3_textfiles/data_birth.xlsx")
print(birthData)

      연도    출생아수  천명당출생률
0   1951  728175    37.7
1   1952  775630    39.6
2   1953  830330    41.6
3   1954  892236    43.4
4   1955  961055    45.4
..   ...     ...     ...
63  2014  435435     8.6
64  2015  438420     8.6
65  2016  406243     7.9
66  2017  357771     7.0
67  2018  326900     6.4

[68 rows x 3 columns]

레코드와 컬럼 수가 하단에 나오고.. 데이터가 길어서 점으로 표시된다

일부분을 보고 싶다면 슬라이싱하거나 함수를 활용하자

## 함수 - 데이터 보기

### `head()` 와 `tail()`

앞 / 뒤에서 적은 수 만큼의 레코드를 표시해준다

In [75]:
print(birthData.head(5))

     연도    출생아수  천명당출생률
0  1951  728175    37.7
1  1952  775630    39.6
2  1953  830330    41.6
3  1954  892236    43.4
4  1955  961055    45.4

In [76]:
print(birthData.tail(3))

      연도    출생아수  천명당출생률
65  2016  406243     7.9
66  2017  357771     7.0
67  2018  326900     6.4

### `info()` 함수로 데이터 파악하기

In [77]:
print(birthData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      68 non-null     int64
 1   출생아수    68 non-null     int64
 2   천명당출생률  68 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 1.7 KB
None

### `describe()` 함수로 데이터 파악하기

숫자로 되어있는 콜럼들만 가져와서 여러 값들을 추출

In [78]:
print(birthData.describe())

               연도          출생아수     천명당출생률
count    68.00000  6.800000e+01  68.000000
mean   1984.50000  7.451443e+05  22.483824
std      19.77372  2.271235e+05  12.619395
min    1951.00000  3.269000e+05   6.400000
25%    1967.75000  5.394685e+05  11.250000
50%    1984.50000  7.246800e+05  16.700000
75%    2001.25000  9.621715e+05  33.225000
max    2018.00000  1.099294e+06  45.400000

### 함수를 활용해보자

In [79]:
print(birthData.head(3).info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      3 non-null      int64
 1   출생아수    3 non-null      int64
 2   천명당출생률  3 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 204.0 bytes
None

In [80]:
print(birthData.tail(3).describe())

           연도          출생아수    천명당출생률
count     3.0       3.00000  3.000000
mean   2017.0  363638.00000  7.100000
std       1.0   39995.55199  0.754983
min    2016.0  326900.00000  6.400000
25%    2016.5  342335.50000  6.700000
50%    2017.0  357771.00000  7.000000
75%    2017.5  382007.00000  7.450000
max    2018.0  406243.00000  7.900000

## 특정 레코드 선택하기

### 인덱스를 활용한 슬라이싱 방식

리스트에서 특정 요소를 슬라이싱 하는 방식과 동일하다

In [81]:
print(birthData[0:3])

     연도    출생아수  천명당출생률
0  1951  728175    37.7
1  1952  775630    39.6
2  1953  830330    41.6

In [82]:
print(birthData[65:])

      연도    출생아수  천명당출생률
65  2016  406243     7.9
66  2017  357771     7.0
67  2018  326900     6.4

### 특정 칼럼(열) 선택하기

#### 방식1: `birthDate.연도` / `birthDate.출생아수`

In [83]:
print(birthData.연도)

0     1951
1     1952
2     1953
3     1954
4     1955
      ...
63    2014
64    2015
65    2016
66    2017
67    2018
Name: 연도, Length: 68, dtype: int64

#### 방식2: `birthDate["연도"]` / `birthDate["천명당출생률"]`

In [84]:
print(birthData["천명당출생률"])

0     37.7
1     39.6
2     41.6
3     43.4
4     45.4
      ...
63     8.6
64     8.6
65     7.9
66     7.0
67     6.4
Name: 천명당출생률, Length: 68, dtype: float64

### 동시에 활용해보자

In [85]:
print(birthData.출생아수[0:5])

0    728175
1    775630
2    830330
3    892236
4    961055
Name: 출생아수, dtype: int64

In [86]:
print(birthData["연도"][64:])

64    2015
65    2016
66    2017
67    2018
Name: 연도, dtype: int64

### 여러 개의 칼럼 (열 선택하기)

대괄호를 한번 더 씌워주자

In [87]:
print(birthData[["연도", "출생아수"]][0:5])

     연도    출생아수
0  1951  728175
1  1952  775630
2  1953  830330
3  1954  892236
4  1955  961055

In [88]:
# 80년대 데이터를 가져와보자
print(birthData[["연도", "출생아수"]][29:39])

      연도    출생아수
29  1980  862835
30  1981  867409
31  1982  848312
32  1983  769155
33  1984  674793
34  1985  655489
35  1986  636019
36  1987  623831
37  1988  633092
38  1989  639431

### query 질의 함수 활용하기

In [89]:
# 1990 부터 2000 까지의 데이터
birthData.query("1990 <= 연도 <= 2000")

      연도    출생아수  천명당출생률
39  1990  649738    15.2
40  1991  709275    16.4
41  1992  730678    16.7
42  1993  715826    16.0
43  1994  721185    16.0
44  1995  715020    15.7
45  1996  691226    15.0
46  1997  668344    14.4
47  1998  634790    13.6
48  1999  614233    13.0
49  2000  634501    13.3

#### 여러개의 조건을 만족하게 하자

In [90]:
birthData.query("연도>=2000 and 출생아수>=500000")

      연도    출생아수  천명당출생률
49  2000  634501    13.3
50  2001  554895    11.6